<html>
<head>
<title>Resume Website</title>
<link rel="stylesheet" href='portfolio.css'>
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section id="Header">
<!-- <video autoplay muted loop id="myVideo">
    <source src="C:\Users\jramy\Downloads\portfoliovideo2.mp4" type="video/mp4">
</video> -->
<div class="container text-center">
<div class="user-box">
<img src="/static/ramya1.jpeg" style="width:50%">
<h1>Ramya Sree Javvaji</h1>
<p>Data Analyst</p>
</div> 
</div>
<div class="scroll-btn">
<div class="scroll-bar"><a href="#about"></a></div>
</div>
</section>

<section id="user-info">
    <div class="nav-bar">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src=/static/ramya1.jpeg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="navbarNav">
              <a class="active" href="#top">ABOUT</a>
            </li>
            <li class="navbarNav">
              <a class="active" href="#about">SKILLS</a>
            </li>
            <li class="nav-item">
              <a class="active" href="#Resume">EXPERIENCE</a>
            </li>
            <li class="nav-item">
                <a class="active" href="#project">PROJECT</a>
            </li>
            <li class="nav-item">
                <a class="active" href="#Contact">CONTACT</a>
            </li>
          </ul>
        </div>
    </nav>
    </div>

<div class="about container" id="About">
<div class="row">
<div class="col-md-6 text-center">
<img src=/static/ramya1.jpeg" class="profile-img">
</div>
<div class="col-md-6">
<h3>WHO AM I</h3>
<p> I AM RAMYA SREE JAVVAJI. I HAD MY MASTERS IN UNIVERSITY OF MARYLAND BALTIMORE COUNTY WITH 3.7GPA.
I HAD DONE MY UNDERGRADUATION IN GITAM UNIVERSITY WITH 3.4GPA.
</p>
<div class="skills-bar">
<p>adobe</p>
<div class="progress">
<div class="progress-bar" style="width: 80%";>80%</div>
</div>
</div>
</div>
</div>
</div>

<!---------------------------Social-icons-------------------->
<div class="Social-icons">
<ul>
<a href="https://www.linkedin.com/in/ramyasreejavvaji/" target="_blank"><li><i class="fa fa-linkedin"></i></li></a>
<!-- <a href="#"><li><i class="fa fa-twitter"></i></li></a>
<a href="#"><li><i class="fa fa-github"></i></li></a> -->
</ul>
</div>


<!--------------------resume------------------------>
<div class="Resume" id="Resume">
<div class="container">
<div class="Row">
<div class="col-md-6">
<h3 class="text-center">EXPERIENCE</h3>
<!-- <img src="C:\Users\jramy\OneDrive\Desktop\milky-way-2695569_960_720.jpg"> -->
<ul class="timeline">
<li>  
<h4>Data Analyst Intern</h4>
<p>
<b>Company</b> - Index Analytics LLC.<br>
<b>Duration</b> - May 2019 - May 2020.<br>
<b>Location</b> - BALTIMORE, MD.<br>
</p>
</li>

<li>
<h4>Research Assistant as Data Analyst</h4>
<p>
<b>Company</b> - University of Maryland.<br>
<b>Duration</b> - Aug 2018 – April 2019.<br>
<b>Location</b> - BALTIMORE, MD.<br>
</p>
</li>

<li>
<h4>Data Analyst</h4>
<p>
<b>Company</b> - FinacPlus Outsourcing/Offshoring.<br>
<b>Duration</b> - Apr 2017 – July 2018.<br>
<b>Location</b> - HYDERABAD, INDIA.<br>
</p>
</li>

<button type="button" class="btn btn-primary"><i class="fa fa-download"></i><a href="C:\Users\jramy\OneDrive\Desktop\Ramya Sree Javvaji_Resume.......pdf">Resume</a></button>
<!-- <button class="btn"><i class="fa fa-download" > Resume </i> -->
<!-- <a href="C:\Users\jramy\OneDrive\Desktop\Ramya Sree Javvaji_Resume.......pdf" download>Download File</a> -->
<!-- </button>  -->   
<!-- <button type="button" class="btn btn-outline-primary">Primary</button>
<a class="btn btn-outline-primary" href="C:\Users\jramy\OneDrive\Desktop\Ramya Sree Javvaji_Resume.......pdf" role="button">Resume</a> -->
<!-- <a href="C:\Users\jramy\OneDrive\Desktop\Ramya Sree Javvaji_Resume.......pdf" download="Resume"> -->
<!-- <a href="C:\Users\jramy\OneDrive\Desktop\Ramya Sree Javvaji_Resume.......pdf" download>Download File</a> -->
<!-- <button type="button">Download</button> 
</a> -->
</ul> 
</div>
</div>
</div>
</div>


<!-----------------------contact-------------------------------->
<div class="contact" id="contact">
<div class="container text-center">
<h1>Contact</h1>
<div class="column">
<div class="col-md-12">
<i class="fa fa-phone"></i>
<p> +1 (443) 636-7520</p>
</div>
<div class="col-md-12">
<i class="fa fa-envelope"></i>
<p> j.ramya56@gmail.com </p>
</div>
</div>
</div>
</div>


</section>

<!----------------------smooth-scroll-------------------->
<script src="smooth-scroll.js"></script>
<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
</body>
</html>